streamlit
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-huggingface
langchain-text-splitters
chromadb
sentence-transformers
python-dotenv
unstructured[all-docs]
pillow
pytesseract
pdf2image
rich